.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.flex-container {
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  justify-content: space-around;
  line-height:30px;
}
.flex-item {
  margin: 5px;
  flex: 1 0 auto;
  height:auto;
}
